body {
    font-family: "Noto Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
    max-width: 60ch;
    padding: 2ch;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

main {
    margin-bottom: 4ex;
}


article {
    margin: 8ex 0 8ex 0;
}

section {
    margin: 8ex 0 8ex 0;
}

header > h1 {
    font-size: xx-large;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    color: #0099cc;
}

a:visited {
     color: #cc0033;
}

a:visited:hover {
     color: #cc6699;
}

time {
    font-style: italic;
}

li {
    line-height: 1.5;
}
