body {
    font-family: "Noto Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
    max-width: 60ch;
    padding: 2ch;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

main {
    margin-bottom: 4ex;
}


article {
    margin: 8ex 0 8ex 0;
}

section {
    margin: 8ex 0 8ex 0;
}

pre {
    padding: 1ch;
    border: dotted black 1pt;
    overflow: auto;
}

header > h1 {
    font-size: xx-large;
}

tt, code, pre, source {
    font-family: "Noto Sans Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: smaller;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    color: #0099cc;
}

a:visited {
     color: #003399;
}

a:visited:hover {
     color: #0099cc;
}

time {
    font-style: italic;
}

li {
    margin-bottom: 1ex;
}
