$lightbrown: rgba(131, 94, 55, 1);

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(__PREFIX__/fonts/Noto-Sans.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'), url(__PREFIX__/fonts/Noto-Sans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(__PREFIX__/fonts/Noto-Sans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url(__PREFIX__/fonts/Noto-Sans-Bold-Italic.ttf) format('truetype');
}

html {
    max-width: 90vw;
    margin-left: auto;
    margin-left: auto;
}

body {
  margin: auto;
  max-width: 40rem;
  padding: 1rem;
  background: $lightbrown;
  font-family: "Noto Sans", sans-serif
}

header, footer {
    padding-bottom: 1rem;
}

article {
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

@for $index from 1 through 6 {
  h#{$index} {
    font-weight: bold;
  }

  h#{$index} a {
      text-decoration: none;
  }
}

a {
    color: black;
}

body > header, body > footer {
    color: white;
}

body > header a, body > footer a {
    color: white;
}

body > header > p {
    font-style: italic;
}

body > header > h1 > a {
    font-size: larger;
}

article > header > p {
    font-size: smaller;
}

body > footer {
    text-align: center;
}

body > header a, body > footer a {
    padding: 0 1rem 0 0;
}

#pagenumber {
    font-size: xx-large;
}
