$lightbrown: rgba(131, 94, 55, 1);

body {
  margin: auto;
  max-width: 40rem;
  background: $lightbrown;
  font-family: "Noto Sans", "sans-serif"
}

header, footer {
    padding-bottom: 1rem;
}

article {
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

@for $index from 1 through 6 {
  h#{$index} {
    font-weight: bold;
  }

  h#{$index} a {
      text-decoration: none;
  }
}

a {
    color: black;
}

body > header, body > footer {
    color: white;
}

body > header a, body > footer a {
    color: white;
}

body > header > p {
    font-style: italic;
}

body > header > h1 > a {
    font-size: 4rem;
}

article > header > p {
    font-size: smaller;
}

body > footer {
    text-align: center;
}

body > header a, body > footer a {
    padding: 0 1rem 0 0;
}

#pagenumber {
    font-size: xx-large;
}
