{{ define "site_subtitle" }}
<p><em>{{ .Site.Params.description }}</em></p>
{{end}}

{{ define "site_nav" }}
{{ partial "main_menu" . }}
{{ end }}

{{ define "main" }}
<header>
  <h1>Entries on <em>{{ .Page.Title }}</em>:</h1>
  <p><a href="/{{ .Page.Type }}/">All {{ .Page.Type }}</a></p>

  {{ partial "page_turner" .Page.Paginator }}
</header>
{{ range .Page.Paginator.Pages }}
{{ partial "article_in_list" (dict "Page" .Page "Context" "blog") }}
{{ end }}
<footer>
  {{ partial "page_turner" .Page.Paginator }}
</footer>
{{ end }}

{{ define "footer" }}
{{ partial "rss_links" . }}
{{ end }}
