{{ define "main" }}
<header>
  <h1>
    {{ if .Page.Paginator.HasPrev }}
    <a href="{{ .Page.Paginator.First.URL }}"><em>{{ .Page.Title }}</em></a>
    {{ else }}
    <em>{{ .Page.Title }}</em>
    {{ end }}
  </h1>
  {{ partial "page_turner" .Page.Paginator }}
</header>
{{ range .Page.Paginator.Pages }}
{{ partial "article_in_list" (dict "Page" .Page) }}
{{ end }}
<footer>
  {{ partial "page_turner" .Page.Paginator }}
</footer>
{{ end }}

{{ define "footer" }}
{{ partial "rss_links" . }}
{{ end }}
