{{ range .Paginator.Pages }}
<article>
  <header>
    <h2><a href="{{ .Page.Permalink }}" title="{{ .Page.Title }}">{{ .Page.Title }}</a></h2>
    <a href="{{ .Page.Permalink }}">
      {{ partial "featured_image" (dict "Page" .Page "Context" "list") }}
    </a>
    {{ if eq $.Context "blog" }}
    {{ partial "dateline" (dict "Page" .Page "Context" "list") }}
    {{ end }}
  </header>
{{ .Page.Summary | safeHTML }}
  <footer>
    {{ if .Page.Truncated }}
    <a href="{{ .Page.Permalink }}">
      <p>[…]</p>
      <p>Read more »</p>
    </a>
    {{ end }}
  </footer>
</article>
{{ end }}
