{{ $first_page := .FirstPage }}
{{ $page_category := .Category }}
{{ $page_tag := .Tag }}
{{ $category_count := (.Page.GetTerms "categories").Len }}
{{ $tag_count := (.Page.GetTerms "tags").Len }}
<p>
{{ if eq .Context "single" }}
By <em>{{ or .Page.Params.author .Page.Site.Params.author}}</em> in
{{ else }}
In
{{ end }}
{{ range $index, $entry := .Page.GetTerms "categories"}}
{{ if and (eq $page_category .Title) $first_page }}<em>{{ .Title }}</em>{{ else }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}{{ if lt (add $index 1) $category_count }}{{ if eq (add $index 2) $category_count }} and{{ else }},{{ end }} {{ end -}}{{ end }}
{{ if gt $tag_count 0 }}
{{ if lt $category_count 1 }}
About
{{ else }}
about
{{ end }}
{{ range $index, $entry := .Page.GetTerms "tags" }}
{{ if and (eq $page_tag .Title) $first_page }}<em>{{ .Title }}</em>{{ else }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}{{ if lt (add $index 1) $tag_count }}{{ if eq (add $index 2) $tag_count }} and{{ else }},{{ end }} {{ end -}}
{{ end -}}
{{ end }} —&nbsp;<time datetime="{{ .Page.Date | dateFormat "2006-01-02" }}">{{ .Page.Date | dateFormat "Monday Jan 2, 2006" }}</time>
</p>
