{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="{% if page.extra.language %}{{ page.extra.language }}{% else %}{{ config.default_language }}{% endif %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">

    <link href="{{ get_url(path="favicon.ico") }}" rel="icon">
    <link href="{{ get_url(path="favicon-16x16.png") }}" rel="icon" sizes="16x16">
    <link href="{{ get_url(path="favicon-96x96.png") }}" rel="icon" sizes="96x96">
    <link href="{{ get_url(path="favicon-192x192.png") }}" rel="icon" sizes="192x192">
    <link href="{{ get_url(path="favicon-32x32.png") }}" rel="icon" sizes="32x32">

    {% if page %}
    <title>{{ page.title }} – {{ config.title }}</title>
    {% elif section and section.title %}
    <title>{{ section.title }} – {{ config.title }}</title>
    {% else %}
    <title>{{ config.title }}</title>
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="{{ config.title }} RSS"
        href="{{ get_url(path="rss.xml") }}" />
    {% block extra_head_feed_links %}{% endblock extra_head_feed_links %}

    <link rel="sitemap" type="application/xml" title="{{config.title}} Sitemap"
        href="{{ get_url(path="sitemap.xml") }}" />

    <link rel="me" href="https://mastodon.sdf.org/@bkhl" />

    <meta name="description" content="{{ config.description }}" />
    <meta name="author" content="{{ config.extra.author.name }}" />
</head>

<body>
    {% if current_path and current_path == "/" %}
    <header>
        <h1>{{ config.title }}</h1>
        <p>{{ config.description }}</p>
    </header>
    {% else %}
    <header>
        <p><a href="{{ get_url(path="") }}">{{ config.title }}</a></p>
    </header>
    {% endif %}

    <main>
        {% block pageheader %}{% endblock pageheader %}

        {% block content %}
        {% for page in paginator.pages %}
        {{ macros::page_in_list(page=page) }}
        {% endfor %}
        {% endblock content %}
    </main>

    <footer>
        <nav>
            {% if paginator or page.later or page.earlier %}
            <section>
                <h4>Navigation</h4>
                <ul>
                    {% if paginator %}
                    {% if paginator.previous %}
                    <li><a href=" {{ paginator.previous }}" rel="prev">Previous</a></li>
                    {% endif %}
                    {% if paginator.next %}
                    <li><a href=" {{ paginator.next }}" rel="next">Next</a></li>
                    {% endif %}
                    {% else %}
                    {% if page.later %}
                    <li><a href="{{ page.later.permalink }}" rel="next">Next ({{ page.later.title }})</a></li>
                    {% endif %}
                    {% if page.earlier %}
                    <li><a href="{{ page.earlier.permalink }}" rel="prev">Previous ({{ page.earlier.title }})</a></li>
                    {% endif %}
                    {% endif %}
                </ul>
            </section>
            {% endif %}
            <section>
                <h4>Pages</h4>
                <ul>
                    <li><a href="{{ get_url(path="about_me") }}">About Me</a></li>
                    <li><a href="{{ get_url(path="") }}">Blogg</a></li>
                    <li><a href="{{ get_url(path="resume") }}">Resume</a></li>
                    <li><a href="{{ get_url(path="galleries") }}">Galleries</a></li>
                    <li><a href="{{ get_url(path="about_page") }}">About This Page</a></li>
                </ul>
            </section>
            <section>
                <h4>Subscribe by RSS</h4>
                <ul>
                    <li><a href="{{ get_url(path="rss.xml") }}" , rel="alternate">All posts</a>
                    </li>
                    {% block extra_links %}{% endblock extra_links %}
                </ul>
            </section>
        </nav>

        <section>
            <p>© 2010–2020 Björn Lindström</p>
        </section>
    </footer>
</body>

</html>
