{% macro page_header(title) %}
<header>
    <h1>{{ title }}</h1>
</header>
{% endmacro page_header %}

{% macro dateline(page) %}
    <p>
        {% if page.taxonomies.categories or page.taxonomies.tags %}
                {% if page.taxonomies.categories %}
                        In
                        {%- for category in page.taxonomies.categories %}
                        {%- if not loop.first and not loop.last %}, {%- elif loop.last and not loop.first %} and {%- endif %}
                        <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
                        {%- endfor %}
                {% endif %}

                {% if page.taxonomies.tags %}
                        about
                        {%- for tag in page.taxonomies.tags %}
                        {%- if not loop.first and not loop.last %}, {%- elif loop.last and not loop.first %} and {%- endif %}
                        <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
                        {%- endfor %}
                {% endif %}
        —
        {% endif %}
        <time datetime="{{ page.date | date(format="%Y-%m-%d") }}">{{ page.date | date(format="%B %e, %Y") }}</time>
    </p>
{% endmacro dateline %}

{% macro featured_image(page, filename, data) %}
<img src="{{ get_url(path=page.path ~ filename) }}" alt="
            {%- if data.title -%}
                {{ data.title }}
            {%- else -%}
                {{ data.description }}
            {%- endif -%}
        ">
{% endmacro featured_image %}

{% macro linked_featured_image(page, filename, data) %}
<a href="{{ page.permalink }}">
    {{ macros::featured_image(page=page, filename=filename, data=data) }}
</a>
{% endmacro linked_featured_image %}

{% macro page_in_list(page) %}
<article>
    <header>
        {% if page.extra.image %}
        {{ macros::linked_featured_image(page=page, filename=page.extra.image.filename, data=page.extra.image) }}
        {% elif page.extra.gallery %}
        {% for filename, data in page.extra.gallery %}
        {% if data.featured %}
        {{ macros::linked_featured_image(page=page, filename=filename, data=data) }}
        {% break %}
        {% endif %}
        {% endfor %}
        {% endif %}

        <h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
        {% if page.taxonomies.categories or page.date %}
        {{ macros::dateline(page=page) }}
        {% endif %}
    </header>

    {% if page.summary %}
    {{ page.summary | safe }}
    {% else %}
    {{ page.content | safe }}
    {% endif %}

    {% if page.summary %}
    <p><a href="{{ page.permalink }}#continue-reading">Continue reading</a></p>
    {% endif %}
</article>
{% endmacro page_in_list %}
