{% macro page_header(title) %}
<header>
    <h1>{{ title }}</h1>
</header>
{% endmacro page_header %}

{% macro dateline(page) %}
<p>
    {% for category in page.taxonomies.categories %}
    Category: <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
    {% endfor %}
</p>
<p>
    <time datetime="{{ page.date | date(format="%Y-%m-%d") }}">{{ page.date | date(format="%B %e, %Y") }}</time>
</p>
{% endmacro dateline %}

{% macro featured_image(page, filename, data) %}
<img src="{{ get_url(path=page.path ~ filename) }}" alt="
            {%- if data.title -%}
                {{ data.title }}
            {%- else -%}
                {{ data.description }}
            {%- endif -%}
        ">
{% endmacro featured_image %}

{% macro linked_featured_image(page, filename, data) %}
<a href="{{ page.permalink }}">
    {{ macros::featured_image(page=page, filename=filename, data=data) }}
</a>
{% endmacro linked_featured_image %}

{% macro page_in_list(page) %}
<article>
    {% if page.extra.image %}
    {{ macros::linked_featured_image(page=page, filename=page.extra.image.filename, data=page.extra.image) }}
    {% elif page.extra.gallery %}
    {% for filename, data in page.extra.gallery %}
    {% if data.featured %}
    {{ macros::linked_featured_image(page=page, filename=filename, data=data) }}
    {% break %}
    {% endif %}
    {% endfor %}
    {% endif %}

    <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
    {% if page.taxonomies.categories or page.date %}
    {{ macros::dateline(page=page) }}
    {% endif %}

    {% if page.summary %}
    {{ page.summary | safe }}
    {% else %}
    {{ page.content | safe }}
    {% endif %}

    {% if page.summary %}
    <p><a href="{{ page.permalink }}">More</a></p>
    {% endif %}
</article>
{% endmacro page_in_list %}
