{% extends "index.html" %}

{% block content %}
<article>
    <header>
        <h1>{{ page.title }}</h1>

        {% if page.taxonomies.categories or page.date %}
        {{ macros::dateline(page=page) }}
        {% endif %}
    </header>

    {% if page.extra.image %}
    {{ macros::featured_image(page=page, filename=page.extra.image.filename, data=page.extra.image) }}
    {% endif %}

    {{ page.content | safe }}

    {% if page.extra.gallery %}
    {% for filename, data in page.extra.gallery %}
    <p>
        <img src="{{ get_url(path=page.path ~ filename) }}"
            alt="{% if data.title %}{{ data.title }}{% else %}{{ data.description }}{% endif %}">
        {% if data.description %}
        <p><em>{{ data.description }}</em></p>
        {% endif %}
    </p>
    {% endfor %}
    {% endif %}
    {% if page.extra.links.mastodon %}
        <footer>
            <p>If you want to leave a comment you can do so on <a href="{{ page.extra.links.mastodon }}">Mastodon</a>.</p>
        </footer>
    {% endif %}
</article>
{% endblock content %}
