{% macro dateline(page) %}
<p>
   {% for category in page.taxonomies.categories %}
        <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}" class="w3-button w3-tiny w3-black w3-padding-large w3-margin-bottom">{{ category }}</a>
    {% endfor%}
</p>
    <h5><span class="w3-opacity">{{ page.date | date(format="%B %e, %Y") }}</span></h5>
{% endmacro dateline %}

{% macro page_in_list(page) %}
<article class="w3-card-4 w3-margin w3-white">
    {% for asset in page.assets %}
        {% if asset is matching("(?i)/" ~ page.extra.image) %}

            <a href="{{ page.permalink }}"><img src="{{ get_url(path=asset, trailing_slash=false) }}" alt="{{ page.extra.image_title }}"></a>
        {% endif %}
    {% endfor %}

    <div class="w3-container">
        <h3><b><a href="{{ page.permalink }}">{{ page.title }}</a></b></h3>
        {% if page.taxonomies.categories or page.date %}
            {{ post_macros::dateline(page=page) }}
        {% endif %}
    </div>

    <div class="w3-container">
        {% if page.summary %}
            {{ page.summary | safe }}
        {% else %}
            {{ page.content | safe }}
        {% endif %}

        <div class="w3-row">
            {% if page.summary %}
                <div class="w3-col m8 s12">
                    <p><a href="{{ page.permalink }}" class="w3-button w3-padding-large w3-white w3-border"><b>MORE »</b></a></p>
                </div>
            {% endif %}
        </div>
    </div>
    <hr>
</article>
{% endmacro page_in_list %}
