{% macro pager(paginator) %}
    <p>
        {% if paginator.previous %}
            <a href="{{ paginator.first }}">← Front</a>
        {% endif %}
        {% if paginator.previous and paginator.previous != paginator.first %}
            <a href="{{ paginator.previous }}">← Previous</a>
        {% endif %}
        {% if paginator.next and paginator.next != paginator.last %}
            <a href="{{ paginator.next }}">Next →</a>
        {% endif %}
        {% if paginator.next %}
            <a href="{{ paginator.last }}">Last →</a>
        {% endif %}
    </p>

    <p id="pagenumber">
        {% if paginator.number_pagers > 1 %}
            {{ paginator.current_index }}/{{ paginator.number_pagers }}
        {% endif %}
    </p>
{% endmacro pager %}

{% macro before_and_after(page) %}
    <p>
        {% if page.earlier %}
            <a href="{{ page.earlier.permalink }}">←&nbsp;{{ page.earlier.title }}</a>
        {% endif %}
        {% if page.later %}
            <a href="{{ page.later.permalink }}">{{ page.later.title }}&nbsp;→</a>
        {% endif %}
    </p>
{% endmacro before_and_after %}

